@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
    font-family: "logo";
    src: url("assets/fonts/american3d.ttf");
}
@font-face {
    font-family: "Bord Demo";
    src: url("assets/fonts/BordDemo.ttf");
}
@font-face {
    font-family: "Gtek Technology";
    src: url("assets/fonts/Gtek Technology.ttf");
}
@font-face {
    font-family: "OCR A Extended";
    src: url("assets/fonts/OcrA.ttf");
}

.ocra{
  font-family: "OCR A Extended", sans-serif;
}
.logo{
  font-family: "logo", sans-serif;
}
.bord{
    font-family: "Bord Demo", sans-serif;
}
.gtek{
    font-family: "Gtek Technology", sans-serif;
}


